<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10">
      <h2 class="title text-center mb-4">Verfügbare Kurse</h2>
      <div class="course-grid-container">
        <!-- Header Row -->
        <div class="row header">
          <div class="col-2">Kurs</div>
          <div class="col-2">Veranstaltungsort</div>
          <div class="col-2">Adresse</div>
          <div class="col-2">Öffentliche Erreichbarkeit</div>
          <div class="col-2">Kursleiter</div>
          <div class="col-2">Alle Termine</div>
        </div>

        <!-- Data Rows -->
        <div
          class="row data"
          *ngFor="let course of storeService.courses"
        >
          <div class="col-2">{{ course.name }}</div>
          <div class="col-2">{{ course.eventLocation.name }}</div>
          <div class="col-2">{{ course.eventLocation.address }}</div>
          <div class="col-2">{{ course.eventLocation.venueByPublicTansport ? "Ja" : "Nein" }}</div>
          <div class="col-2">{{ course.instructor }}</div>
          <div class="col-2">
            <ul>
              <li *ngFor="let date of course.dates">
                <span>{{ date.begin | date: "MMM dd, yyyy 'um' hh:mm a" }}</span> -
                <span>{{ date.end | date: "MMM dd, yyyy 'um' hh:mm a" }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
