.header-container {
  background-color: black;
  width: 100%;
  text-align: center;
  padding: 20px 0 0 0;
}

.header-title {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 20px;
}

.header-image {
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
}

.nav-links {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background-color: black;
}

.menu-button {
  font-size: 1.5rem;
  color: white;
  background-color: #007bff;
  padding: 20px 20px;
  border-radius: 4px;
}

.menu-button:hover {
  background-color: darkgreen;
  color: white;
}

.active-menu-item {
  background-color: lightgoldenrodyellow;
  color: darkgreen;
  pointer-events: none; /* Deaktiviert Klicks */
}
