<div class="header-container">
  <h1 class="header-title">{{ title }}</h1>
  <div class="header-image" [style.backgroundImage]="'url(' + imagePath + ')'"></div>
  <div class="nav-links">
    <button mat-button [matMenuTriggerFor]="menu" class="menu-button">
      MENÜ
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item
        [routerLink]="'/dashboard'"
        routerLinkActive="active-menu-item"
        [disabled]="isActive('/dashboard')">
        Dashboard
      </button>
      <button mat-menu-item
        [routerLink]="'/about'"
        routerLinkActive="active-menu-item"
        [disabled]="isActive('/about')">
        About
      </button>
    </mat-menu>
  </div>
</div>
