<div class="form-container">
  <h2>Zum Kurs anmelden!</h2>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput id="name" formControlName="name" />
      <mat-error *ngIf="registrationForm.get('name')?.invalid && registrationForm.get('name')?.touched">
        Bitte Name eintragen.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Geburtsdatum</mat-label>
      <input matInput id="birthdate" [matDatepicker]="picker" formControlName="birthdate" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="registrationForm.get('birthdate')?.invalid && registrationForm.get('birthdate')?.touched">
        Bitte Geburtsdatum auswählen.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Kurs auswählen</mat-label>
      <select matNativeControl formControlName="courseId" required>
        <option value="" disabled>Bitte auswählen</option>
        <option *ngFor="let course of storeService.courses" [value]="course.id">{{ course.name }}</option>
      </select>
      <mat-error *ngIf="registrationForm.get('courseId')?.invalid && registrationForm.get('courseId')?.touched">
        Bitte Kurs auswählen.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput id="email" formControlName="email" />
      <mat-error *ngIf="registrationForm.get('email')?.hasError('required') && registrationForm.get('email')?.touched">
        Bitte Email eintragen.
      </mat-error>
      <mat-error *ngIf="registrationForm.get('email')?.hasError('email') && registrationForm.get('email')?.touched">
        Bitte eine gültige Email-Adresse eingeben.
      </mat-error>
    </mat-form-field>
    <section>
      <mat-checkbox formControlName="newsletter">
        Ich möchte den Newsletter mit neuen Kursangeboten erhalten.
      </mat-checkbox>
    </section>
    <section>
      <div class="form-group">
        <button mat-flat-button color="primary" type="submit" [disabled]="registrationForm.invalid">
          Erfassen
        </button>
      </div>
    </section>
  </form>
</div>
