<div class="form-container">
  <h2>Zum Kurs anmelden!</h2>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <mat-form-field class="p-0">
        <input matInput id="name" placeholder="Vorname Nachname" formControlName="name"/>
        <mat-error>Bitte Name eintragen.</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <label for="birthdate">Geburtsdatum</label>
      <mat-form-field class="p-0">
        <input matInput id="birthdate" type="date" placeholder="Wähle dein Geburtsdatum." formControlName="birthdate" />
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
        <mat-error>Bitte Geburtsdatum auswählen.</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <label for="courseId">Kurs auswählen</label>
      <select id="courseId" formControlName="courseId">
        <option value="" disabled>Bitte auswählen</option>
        <option *ngFor="let course of storeService.courses" [value]="course.id">
          {{ course.name }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label>
        <input type="checkbox" formControlName="newsletter" />
        Ich möchte den Newsletter mit neuen Kursangeboten erhalten.
      </label>
    </div>
    <div class="form-group">
      <button type="submit">Erfassen</button>
    </div>
  </form>
</div>
