<div class="container my-4">
  <div class="header">
    <div class="content">
      <h2 class="title text-center">Liste der angemeldeten Teilnehmer</h2>
      <div class="table-wrapper">
        <div class="table" matSort (matSortChange)="onSortChange($event)">
          <!-- Table Header -->
          <div class="table-header">
            <div class="name">Name des Teilnehmers</div>
            <div class="birthdate">Geburtsdatum</div>
            <div class="course">Kursname</div>
            <div class="email">Email</div>
            <div class="registration-date" mat-sort-header="registrationDate">
              Anmeldedatum
            </div>
            <div class="actions">Teilnahme stornieren</div>
          </div>
          <!-- Table Rows -->
          <div class="table-row position-relative" *ngFor="let registration of sortedRegistrations">
            <div *ngIf="storeService.loadingRegistrations[registration.id]" class="overlay">
              <mat-spinner diameter="24"></mat-spinner>
            </div>
            <div class="name">{{ registration.name }}</div>
            <div class="birthdate">{{ registration.birthdate | date: 'yyyy-MM-dd' }}</div>
            <div class="course">{{ registration.course.name }}</div>
            <div class="email">{{ registration.email }}</div>
            <div class="registration-date">{{ registration.registrationDate | date: 'yyyy-MM-dd' }}</div>
            <div class="actions">
              <button [disabled]="storeService.loadingRegistrations[registration.id]" class="delete-button" (click)="deleteRegistration(registration.id)">
                Teilnahme stornieren
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Pagination -->
      <div class="pagination text-center mt-4">
        <button
          class="page-button"
          [ngClass]="{ active: page === storeService.currentPage }"
          (click)="selectPage(page)"
          *ngFor="let page of returnAllPages()"
          [disabled]="page === storeService.currentPage"
        >
          {{ page }}
        </button>
      </div>
    </div>
  </div>
</div>
